html, body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background: rgb(254,0,36);
  background: -moz-linear-gradient(180deg, rgba(254,0,36,1) 0%, rgba(255,0,120,1) 100%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(254,0,36,1) 0%, rgba(255,0,120,1) 100%, rgba(0,212,255,1) 100%);
  background: linear-gradient(180deg, rgba(254,0,36,1) 0%, rgba(255,0,120,1) 100%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe0024",endColorstr="#00d4ff",GradientType=1);
}

#login {
  height: 100%;
  /*border-collapse: collapse;*/
  /*display: table;*/
  height: 100%;
}

#ustawienia {
  position: absolute;
  display: table;
  top: 10%;
  left: 30%;
}

#login-form {
  width: 70%;
  max-width: 300px;
  height: 212px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 40px;
  padding: 14px 14px 30px 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#register-form{
  width: 70%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  background-color: #000;
  border-radius: 40px;
  padding: 14px 14px 30px 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  margin: 0 0 0 10px;
  color: #fff;
  font-size: 20px;
}

input[type=text], input[type=password] {
  border-radius: 10px;
}

ul {
  list-style: none;
  text-align: right;
  margin: 2px 10px 0 0;
}

.login-button, .login-button:hover {
  font-size: 20px;
  color: rgb(70,200,70);
  background: none;
  border: none;
}

.no-account-button, .no-account-button:hover {
  color: #ffc657;
}

.form-control.login-input {
  margin: 0 auto;
}

.login-img {
  height: 120px;
  margin: 0 auto;
}

.login-img-container {
  text-align: center;
}

.top {
  /*display: table-row;*/
  /*vertical-align: top;*/
  /*height: 1px;*/
  position: relative;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -12%);
}

.bottom {
  position: relative;
  /*display: table-row;*/
  /*vertical-align: bottom;*/
  /*height: 100px;*/
  /*position: absolute;*/
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#homescreen{
  width: 70%;
  max-width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#header{
  width:100%;
  height:11.5%;
  background-size: 100%;
  background-image: url("D:\\Projects\\projektdino\\initial-repo\\Projekt_grafiki\\Kontakty\\Paski\\kontakty_paski_png\\Pasek_gora_zlogo.png");
  display: flex;
  flex-direction: row;
}

#settings{
  width: 16%;
  height: 100%;
  margin-right: auto;
}

#settings:hover{
  background-color: gray;
}

#settings_icon{
  width: 50%;
  height: 30%;
  margin-top: 30%;
  margin-left: 25%;
}

#search{
  width: 16%;
  height: 100%;
  margin-left: auto;
}

#search:hover{
  background-color: gray;
}

#search_icon{
  width: 50%;
  height: 60%;
  margin-left: 25%;
  margin-top: 17%;
}

#contacts{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact{
  width: 94%;
  height: 13%;
  background-color: white;
  margin-top: 3%;
  margin-left: 3%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.contact:hover{
  background-color: rgb(185, 185, 185);
}

.avatar{
  height: 80%;
  width: 15%;
  margin-top: 2%;
  margin-left: 8%;
  background-color: black;
  border-radius: 100%;
}

.name{
  color: black;
  margin-top: 3%;
  margin-left: 4%;
  font-size: 24px;
}

.status_positive{
  height: 100%;
  width: 15%;
  margin-left:auto;
  margin-right: 4%;
  margin-top: 1%;
}

.positive_icon{
  max-width: 100%;
  max-height: 100%;
}

.status_negative{
  height: 100%;
  width: 15%;
  margin-left: auto;
  margin-right: 4%;
  margin-top: 2%;
}

.negative_icon{
  max-width: 100%;
  max-height: 100%;
}

.utitle {
  position: relative;
}

.pasek-u {
  max-width: 50%;
  height: auto;
}

.emotka-u {
  position: absolute;
  width: 6%;
  margin-left: 10px;
  margin-top: 2%;
}

.uitems {
  margin-top: 2%;
}

.img-rest {
  max-width: 10%;
  height: auto;
}

.img-klucz {
  max-width: 8%;
  margin-left: 1%;
  height: auto;
}

.ut {
  display: inline;
  margin-left: 5%;
  color: white;
  font-size: 200%;
}

.ut2 {
  display: inline;
  margin-left: 6%;
  color: white;
  font-size: 200%;
}
